

/* background setup */
body {
    background: url('../images/splash-1024.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#title {
	width: 40%;
	margin-top: 5%;
	margin-left: 5%;
    text-align:left;
}

#content {
	text-align: center;
	color: white;
}

/* Each child in content should have a certain margin */
#content * {
	margin: 5%;
}

