

/* background setup */
body {
    background: url('../images/splash-desktop.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media ( max-width: 320px ) {
	body {
		background: url('../images/splash-mobile.jpg') no-repeat fixed;
    }
}


#title {
	width: 40%;
	margin: 5%;
    text-align:left;
}

#content {
	text-align: center;
	color: white;
}

/* Each child in content should have a certain padding */
#content * {
	margin-bottom: 5%;
}

a {
	color: white;
}


