body {
    background-image: url('../images/splash-desktop.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media ( orientation: portrait ) {
	body {
		background-image: url('../images/splash-mobile.jpg');
    }
}


#title {
	width: 40%;
	margin: 5%;
    text-align:left;
}

#content {
	text-align: center;
	color: white;
}

/* Each child in content should have a certain padding */
#content * {
	margin-bottom: 5%;
}

a {
	color: white;
}


